*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 600px;
    /* border: 2px solid red; */
    width: 100%;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.section-left{
    width: 25%;
    /* border: 2px solid green; */
    background-color: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}
.section-left .image-radius{
    width: 100%;
    height: 15%;
    align-items: center;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 20px;
}
.section-left .image-radius img{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid grey;
}
.section-left .name-header{
    color: aliceblue;
    text-align: center;
    margin: 10px;
}
.section-left .icons-social{
    /* border: 2px solid #333; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
    height:10%;
    padding: 0 15%;
}
.section-left .icons-social li{
    list-style-type: none;
    font-size: 25px;
    /* border-radius: 50%; */
}
.section-left .icon-nav{
    display: flex;
    width: 100%;
    height: 40%;
    color: #333;
    flex-direction: column;
    justify-content:space-around;
    /* border: 2px solid red; */
    /* text-align: center; */
    margin-top: 5%;
    padding-left: 20%;
}
.section-left .icon-nav li{
    list-style-type: none;
    margin-bottom: 8%;
}
.section-left .icon-nav li:hover ,.section-left .icons-social li:hover , .section-left .name-header:hover , .section-left footer:hover{
    color: blueviolet;
    cursor: pointer;
}
.section-left .icon-nav li span{
    margin-right: 10%;
}
.section-left footer{
    color: #333;
    margin-top: auto;
    margin-bottom: 2%;
    padding: 0 10px;
}
.section-right{
    width: 75%;
    /* background-color: green; */
    /* border: 2px solid #000; */
    height: 100%;
    /* background-color: #000; */
    background-image: url("../images/123\ \(1\).jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    color: #575e79;
}
.my-description{
    position: absolute;
    top: 30%;
    left: 20%;
    /* border: 2px solid green; */
}
.desc-details{
    /* border: 2px solid red; */
    width: fit-content;
    position: relative;
    margin: 15px 0;
    /* border: 2px solid red; */
}
.my-description:hover{
    color:blueviolet;
    cursor: pointer;

}
.desc-details h4{
    line-height: 25px;
}
.desc-details span{
    border-radius: 5px;
    background-color: #000;
    width: 70%;
    height: 3px;
    /* color: darkcyan; */
    position: absolute;
    right: 1px;
    /* color: red; */
    /* border: #000; */
}